h1{
    color: green;
    font-size: 48px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
p {color: red;}

h2 {
    text-decoration: underline;
    text-underline-position: under;
}

img {
    align-self: center;
}

